.Admin_Layout {
    header {
        display: flex;
        justify-content: space-between;


        .admin__header-left {
            display: inline;
        }

        .admin__header-right {
            display: flex;
            padding-right: 3rem;
            gap: 1rem;
            align-items: baseline;

            .noti-button {
                border: none;
                border-radius: 10px;
                height: 30px;
                width: 30px;
                @include flex-center;
            }
        }
    }
}




.ant-table-wrapper {
    position: relative;

    .ant-table-thead {

        tr {
            th {
                font-size: 16px;
            }
        }
    }

    .ant-table-body {
        scrollbar-width: none !important;
        /* For Firefox */
        -ms-overflow-style: none !important;
        /* For Internet Explorer and Edge */
    }

    .ant-table-body-webkit-scrollbar {
        width: 0px !important;
        /* For Chrome, Safari, and Opera */
    }
}

.Admin_Header_Add {
    width: 30%;
    float: right;
    margin-bottom: 20px;

    button {
        margin-bottom: 5px;
        float: right;
        padding: 0px 7px;
    }
}

@media screen and (max-width: 600px) {
    .Admin_Header_Add {
        width: 60%;
    }
}